@model IEnumerable<ToxTracker.Models.ControlChartModels.ControlListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuantValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RunDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QCId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuantValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RunDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QCId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
