@model ToxTracker.Models.AnalyteModels.AnalyteListItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AnalyteListItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StandardId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StandardId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StandardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StandardName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
